## pointGreyPixelFormats.template

# Valid pixel format strings
record(stringin, "$(P)$(R)ValidPixelFormat_$(N)") {
  field(DTYP, "asynOctetRead")
  field(INP, "@asyn($(PORT) $(N))PG_VALID_PIXEL_FORMAT")
  field(SCAN, "I/O Intr")
}

# Has pixel format bi
record(bi, "$(P)$(R)HasPixelFormat_$(N)") {
  field(DTYP, "asynInt32")
  field(INP, "@asyn($(PORT) $(N))PG_HAS_PIXELFORMAT")
  field(ZNAM, "No")
  field(ONAM, "Yes")
  field(SCAN, "I/O Intr")
}
